NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=knockout-app
NEXT_PUBLIC_APPWRITE_DATABASE_ID=knockout_db
NEXT_PUBLIC_APPWRITE_MATCHES_COLLECTION_ID=matches
NEXT_PUBLIC_APPWRITE_TOURNAMENT_COLLECTION_ID=tournament

APPWRITE_API_KEY= standard_33a164274970694817dd4aa1d7cda6634a2934d8b33a7af005db807a796262df27b416c4486960b27309c6a5a27abdeba45be987debef93f8f4fc1b8a55a5a6ba3096af1c5ac533a70cb2c3c97baed397385744977c8185df8f4931540d35033d6412877828ddc529d39ab853e2f03cd0058010cc95af3492e41e5c747da5afb
APPWRITE_TOURNAMENT_DOCUMENT_ID=main
APPWRITE_ADMIN_EMAILS=admin@example.com

# Optional overrides for server-side Appwrite IDs.
APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=knockout-app
APPWRITE_DATABASE_ID=knockout_db
APPWRITE_MATCHES_COLLECTION_ID=matches
APPWRITE_TOURNAMENT_COLLECTION_ID=tournament
